<div class="container flat-card z-depth-2">
  <div class="header-bg"></div>
  <div class="header-content">
    <h5 class="white-text">Atividades</h5>
  </div>

  <br><br>

  <app-activity-list
    *ngIf="phases && dimensions && activitiesTypes && activities"
    [phases]="phases"
    [dimensions]="dimensions"
    [activitiesTypes]="activitiesTypes"
    [activities]="activities"
    [isViewMode]="false"
    (phaseChange)="setCurrentPhase($event.phaseId)"
    (addActivity)="addActivity($event.activity)"
    (removeActivity)="removeActivity($event.activityId)"
  ></app-activity-list>
</div>
