.sidenav {
    padding-top: 65px;
    z-index: 1;
}
.sidenav-header{
    display: flex;
    padding: 10px 0 15px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.sidenav-header-content{
    display: flex;
    flex-flow: column wrap;
}
.sidenav-header-logout{

}
.email{
    font-style: italic;
}
h1, h2, h3, h5, h6{
    margin: 2px 0 2px 0;
}
h4{
    margin: 5px 0 5px 0;
}