<div class="container flat-card z-depth-2">
  <div class="header-bg"></div>
  <div class="header-content">
    <h5 class="white-text">Modelos</h5>
    <div>
      <mat-button-toggle-group #group="matButtonToggleGroup" (change)="toggleChange(group.value)" name="fontStyle" aria-label="Font Style">
          <mat-button-toggle checked="true" [value]="1">
            <i class="material-icons">person</i>
          </mat-button-toggle>
          <mat-button-toggle [value]="0">
            <i class="material-icons">explore</i>
          </mat-button-toggle>
        </mat-button-toggle-group>
      <button mat-raised-button routerLink="form" class="white-text transparency-dark">+ CADASTRAR</button>
    </div>
  </div>

  <br><br>

  <div class="row" *ngIf="isLoading">
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="isEmpty && !isLoading"  class="empty-array-warning">
    <br>
    <br>
    <span class="grey-text text-lighten-1 italic">Nenhum modelo para ser listado.</span>
  </div>

  <mat-table  [dataSource]="smmModels" *ngIf="!isEmpty && !isLoading">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef style="flex: 2"> Nome </mat-header-cell>
      <mat-cell *matCellDef="let smmModel" style="flex: 2"> {{smmModel.name}} </mat-cell>
    </ng-container>
    
    <!-- Pct Column -->
    <ng-container matColumnDef="creator">
      <mat-header-cell *matHeaderCellDef> Criador </mat-header-cell>
      <mat-cell *matCellDef="let smmModel"> {{smmModel.pct.name}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let smmModel"> 
          <i class="material-icons clickable" (click)="openDialog(smmModel.id)">visibility</i>
          <i *ngIf="isOwner(smmModel.pct.id)" (click)="editSmmModel(smmModel.id)" class="material-icons clickable">edit</i>
          <i *ngIf="isOwner(smmModel.pct.id)" (click)="deleteSmmModel(smmModel.id)" class="material-icons clickable">delete</i>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>