<div class="container flat-card z-depth-2">
  <div class="header-bg"></div>
  <div class="header-content">
    <h5 class="white-text">Startups</h5>
    <button mat-raised-button routerLink="form" class="white-text secondary-color">+ CADASTRAR</button>
  </div>

  <br><br>
<!-- 
  <div class="table-placeholder" *ngIf="!startups[0]">
    <p class="grey-text text-lighten-1">Nenhuma startup para ser listada!</p>
    {{startups|json}}
  </div> -->

  <mat-table  [dataSource]="startups">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.name}} </mat-cell>
    </ng-container>

    <!-- Area Column -->
    <ng-container matColumnDef="area">
      <mat-header-cell *matHeaderCellDef> Area </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.area.name}} </mat-cell>
    </ng-container>

    <!-- Person Column -->
    <ng-container matColumnDef="person">
      <mat-header-cell *matHeaderCellDef> Responsável </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.person.name}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let startup"> 
          <i class="material-icons clickable" (click)="editModel(startup.id)">list</i>
          <i class="material-icons clickable">edit</i>
          <i class="material-icons clickable" (click)="deleteStartup(startup.id)">delete</i>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>