<div class="container flat-card z-depth-2">
  <div class="header-bg"></div>
  <div class="header-content">
    <h5 class="white-text">Modelo da Startup</h5>
  </div>
  
  <br><br>

    <div class="row">
      <div class="input-field col s12 m6">
        <h5>{{startup.name}}</h5>
      </div>
      <div class="input-field col s12 m6" *ngIf="!startup.hasModel">
        <mat-form-field>
          <mat-select placeholder="Modelo Base" (selectionChange)="setStartupModelsFromApi($event.value)">
            <mat-option value="option" disabled>Baseado em</mat-option>
            <mat-option value="0">Nenhum</mat-option>
            <mat-option *ngFor="let smmModel of smmModels" [value]="smmModel.id">{{smmModel.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    
    <mat-tab-group (selectedTabChange)="setCurrentPhase($event.tab.textLabel)">
      <mat-tab *ngFor="let phase of phases" [label]="phase.id">
        <ng-template mat-tab-label>
          {{phase.name}}
        </ng-template>
        <table>
          <thead>
            <tr>
              <!-- <th></th> -->
              <th><i style="font-size: 24px !important" class="material-icons">done</i></th>
              <th>Dimensão</th>
              <th>Tipo</th>
              <th>Atividade</th>
              <th>Prio.</th>
              <th>Data Prevista</th>
              <th>Data Termino</th>
              <th>Custo Pct</th>
              <th>Custo Empresa</th>
            </tr>
          </thead>
          <tbody style="font-size: 12px">
            <tr *ngFor="let startupModel of startupModels; let i = index">
              <!-- <td>
                <div class="index-flex">
                  <i class="material-icons clickable" (click)="getUp(i)">keyboard_arrow_up</i>
                  <span class="grey-text text-lighten-1">{{i + 1}}</span>
                  <i class="material-icons clickable" (click)="getDown(i)">keyboard_arrow_down</i>
                </div>
              </td> -->
              <td>
                <label>
                  <input type="checkbox" [(ngModel)]="startupModels[i].is_done" />
                  <span></span>
                </label>
              </td>
              <td class="{{startupModel.action_plan.activity.dimension.name[0] + '-color'}}">{{startupModel?.action_plan?.activity?.dimension?.name}}</td>
              <td>{{startupModel?.action_plan?.activity?.activity_type?.initials}}</td>
              <td>{{startupModel?.action_plan?.activity?.description}}</td>
              <td>
                <mat-select [(ngModel)]="startupModels[i].priority">
                  <mat-option [value]="1">1</mat-option>
                  <mat-option [value]="2">2</mat-option>
                  <mat-option [value]="3">3</mat-option>
                </mat-select>
              </td>
              <td><input type="date" [(ngModel)]="startupModels[i].foreseen_date"></td>
              <td><input type="date" [(ngModel)]="startupModels[i].accomplished_date"></td>
              <td><input class="min-100" type="text" [(ngModel)]="startupModels[i].pct_cost"></td>
              <td><input class="min-100" type="text" [(ngModel)]="startupModels[i].startup_cost"></td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>

    <div class="row">
      <div class="col s12">
        <button mat-raised-button routerLink="/startups" class="grey white-text">CANCELAR</button>
        <button mat-raised-button (click)="save()" class="white-text secondary-color" [class.disabled]="hasPressedSave">CADASTRAR</button>
      </div>
    </div>
</div>