.main {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    .main {
    padding-left: 0;
    }
}
.no-top{
    padding-top: 0px !important;
}
.icons{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}