<mat-tab-group (selectedTabChange)="emitPhaseChange($event.tab.textLabel)">
  <mat-tab *ngFor="let phase of phases" [label]="phase.id">
    <ng-template mat-tab-label>
      {{phase.name}}
    </ng-template>

    <div class="row" *ngIf="isLoading">
      <br>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <table>
      <thead>
        <tr *ngIf="!isViewMode" style="font-size: 12px">
          <td>
            <mat-select style="min-width: 100px;" [(ngModel)]="activityToAdd.dimensionId" placeholder="Dimensão">
              <mat-option *ngFor="let dimension of dimensions" [value]="dimension.id">
                {{ dimension.name }}
              </mat-option>
            </mat-select>
          </td>
          <td>
            <mat-select style="min-width: 45px;" [(ngModel)]="activityToAdd.activityTypeId" placeholder="Tipo">
              <mat-option *ngFor="let activitiesType of activitiesTypes" [value]="activitiesType.id">
                {{ activitiesType.initials }}
              </mat-option>
            </mat-select>
          </td>
          <td>
              <input style="font-size: 12px" [(ngModel)]="activityToAdd.description" matInput placeholder="Descrição">
          </td>
          <td>
            <button type="button" mat-mini-fab (click)="emitAddActivity()" class="white-text secondary-color"><mat-icon>add</mat-icon></button>
          </td>
        </tr>
        <tr  *ngIf="activities[0] && !isLoading">
          <th>Dimensão</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th *ngIf="!isViewMode">Ação</th>
        </tr>
      </thead>
      <tbody style="font-size: 12px"  *ngIf="activities[0] && !isLoading">
        <tr *ngFor="let activity of activities">
          <td class="{{activity.dimension.name[0] + '-color'}}">{{activity?.dimension?.name}}</td>
          <td>{{activity?.activity_type?.initials}}</td>
          <td>{{activity?.description}}</td>
          <td *ngIf="!isViewMode"><i  class="material-icons clickable" (click)="emitRemoveActivity(activity.id)">delete</i></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!activities[0] && !isLoading"  class="empty-array-warning">
      <br>
      <br>
      <span class="grey-text text-lighten-1 italic">Nenhuma atividade para ser listada.</span>
    </div>

  </mat-tab>
</mat-tab-group>