/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root{
    --main-color:           #3498db;
    --second-color:         #2980b9;
}

.M-color{
    color:#8ac752;
    font-weight: bold;
}
.P-color{
    color:#fd9439;
    font-weight: bold;
}
.F-color{
    color:#c83f4a;
    font-weight: bold;
}
.I-color{
    color:#3daac7;
    font-weight: bold;
}
.G-color{
    color:#2d3f7e;
    font-weight: bold;
}
.C-color{
    color:#8950a3;
    font-weight: bold;
}

.primary-color {
    background-color: var(--main-color) !important;
}

.secondary-color {
    background-color: var(--second-color) !important;
}

.primary-color-text {
    color: var(--main-color) !important;
}

.secondary-color-text {
    color: var(--second-color) !important;
}

/* Remove use terms from map*/
.gmnoprint {
    display: none;
}

.logo {
    font-weight: 300;
    font-family: Roboto Condensed;
}

.clickable{
    cursor: pointer;
}

.not-clickable{
    cursor: default;
}

.no-select{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.mat-form-field-infix{
    width: auto !important;
}

.flat-card{
    border-radius: 2px;
    padding: 25px;
    margin-top: 10px !important;
    position: relative;
}

.header-bg {
    position: absolute;
    background-color: var(--main-color);
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}