agm-map {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
}

.bg-layer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--second-color), var(--main-color));
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card{
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    padding: 10px 25px;
}

form {
    margin-top: 20px;
}
